.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pokemonCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
  
.pokedexCard {
    max-width: 350px;
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, #fff 25%, #fff, #f9faf5);
    border-radius: 2rem;
    box-shadow: 0 0 5px #222;
}
  
.pokedexCard .pokemon {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 2rem;
}
  
.pokedexCard .pokemon header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 1rem;
    color: #fff;
}
  
.pokedexCard .pokemon header i {
    text-align: center;
    cursor: pointer;
    color: #fff;
    opacity: 0.7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 1rem;
}
  
.pokedexCard .pokemon header i:hover {
    color: #fff;
    opacity: 1;
    background: #ffffff23;
}
  
.pokedexCard .pokemon header a + i:hover {
    color: red;
}
  
.pokedexCard .pokemon::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-radius: 2rem;
    background: #fff;
}
  
.pokedexCard .pokemon .name {
    color: #fff;
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}
  
.pokedexCard .pokemon .number {
    position: absolute;
    right: 1rem;
    color: #41414d;
    font-size: 1rem;
}
  
  .pokedexCard .pokemon .types .type:first-child {
    margin-left: 1rem;
}
  
.pokedexCard .pokemon .types .type {
    color: #ccc;
    padding: 0.25rem 0.5rem;
    font-size: 0.625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}
  
.pokedexCard .pokemon img {
    position: absolute;
    height: 150px;
    width: 150px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
  
.pokedexCard nav {
    position: relative;
    top: -20px;
    display: flex;
    justify-content: space-around;
    font-size: 0.5rem;
    color: #1d1b1b;
    border-bottom: 1px solid;
}

.pokedexCard #infoPokemon ol li div.img-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666;
    gap: 6px;
    position: relative;
}
  
.pokedexCard #infoPokemon ol li div.img {
    width: 80px;
    border: 1px solid #888;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 1px 0 2px #222;
}
  
.pokedexCard #infoPokemon ol.moves li:nth-child(2n) span {
    border-left: 1px solid #ccc;
    padding-left: 2rem;
}

.hidden {
    visibility: hidden;
    display: none;
}
